html, body {
  height: 100%;
  display: flex;
  flex: 1;
}

.container {
  margin-top: 44px;
  display: flex;
  flex: 1;
  align-self: stretch;
}

.counter {
  flex-grow: 1;
  align-self: stretch;
  padding: 20px;
}
